@import url(http://awebfont.ir/css?id=1116);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "B Yekan", tahome, arial;
}

.header {
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}

.header-top {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
}

.header-top-left {
  display: flex;
  width: 10%;
  justify-content: space-around;
}

.header-top-right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.header-top-right-list {
  display: flex;
  width: 68%;
  justify-content: space-around;
}

.header-top-right-list-items {
  list-style-type: none;
  color: rgb(100, 100, 100);
  font-size: 18px;
}

.login {
  background-color: blue;
  color: whitesmoke;
  width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.signin {
  color: blue;
}

.header .header-top .header-top-right img {
  background-color: rgb(166, 166, 202);
  border-radius: 8px;
}

.header-top-right-list-items:hover {
  cursor: pointer;
  color: rgb(21, 21, 199);
}

/* header buttom */

.header-buttom {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.header-buttom-text {
  width: 40%;
  line-height: 32px;
  font-size: 18px;
}

.header-buttom-svg {
  width: 60%;
  text-align: center;
}

.header-buttom-text-h1 {
  color: rgb(66, 65, 65);
}

.header-buttom-text-intro {
  margin-top: 8px;
  margin-bottom: 2px;
  color: blue;
}

.header-buttom-text-text {
  text-align: justify;
  color: rgb(66, 65, 65);
}

/* pages */

.host {
  background: linear-gradient(to top, rgb(225, 252, 252), rgb(246, 255, 255));
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.host-heading {
  text-align: center;
  padding-top: 30px;
}

.host-pages {
  display: flex;
  margin-top: 60px;
}

.host-pages-page {
  border: 1px solid rgb(168, 167, 167);
  border-radius: 12px;
  margin: 0 13px;
  margin-bottom: 15px;
}

.host-pages-page-h2 {
  background-color: rgb(50, 127, 243);
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  border-radius: 9999px;
  margin-top: -18px;
  padding: 4px;
}

.host-pages-page-p {
  text-align: justify;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 14px;
  padding-top: 18px;
  font-size: 18px;
}

/* slide */

.slides {
  display: flex;
  flex-flow: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  gap: 110px;
}

.slides-slide {
  display: flex;
  width: 100%;
  gap: 50px;
}

.slides-slide-h2{
  color: rgb(95, 94, 94);
}

.slides-slide-text {
  width: 40%;
  padding: 20px;
  line-height: 32px;
  font-size: 18px;
}

.slides-slide-text h2{
  padding-bottom: 12px;
}

.slides-slide-svg {
  width: 60%;
  text-align: center;
}

.slides-slide-svg img{
  width: 90%;
}
